body {
    background-color: #000;
}

.overlayer {
    background-image:
        linear-gradient(to bottom, transparent, rgba(0, 0, 0, .2), rgba(0, 0, 0, 1) 60vw),
        url('./assets/spider-man-no-way-home-bg.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100vh;
    padding-top: 40px;
}

.overlayer .elipse {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 11px;
    top: 1px;

    background: linear-gradient(153.13deg, #6380D7 -20.69%, #984BED 55.87%, #5B62CC 104.01%);
    filter: blur(250px);
}

.container {
    max-width: 1412px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 17px;
}

.infos .info {
    color: #FFF;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.infos h1 {
    color: #FFF;
    font-size: 80px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

.infos .categories {
    color: #FFF;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.infos .imdb {
    color: #FFF;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    margin-bottom: 30px;
}

.infos .imdb img {
    width: 53px;
    margin-right: 15px;
}

@media (max-width: 1412px){
    .container {
        padding: 0 50px 50px;
    }
}